{% load static tailwind_tags %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rahttega</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% tailwind_css %}
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">



    {% load pipeline %}
    {% stylesheet 'css_files' %}
    {% javascript 'js_files' %}
  </head>

  <body>

  <!-- Navigation -->
    <nav class="flex justify-between items-center w-[92%] mx-auto">
      <div>
        <a href="/"><img src="{% static 'img/rattegabranco.png' %}" class="w-28" alt="Rahttega Logo" /></a>
      </div>
      <div class="text-white flex gap-32 text-base">
        <div class="dropdown">
          <a href="/articles" >Artigos</a>
          <div class="dropdown-content bg-gray-800">
            <p>A</p>
            <p>B</p>
          </div>
        </div>
        <p>Sobre Autor</p>
      </div>
      <div>
      </div>
    </nav>






            {% block content %}
          <!-- Content Goes here -->
            {% endblock content %}

    <!-- Footer -->
    <footer class="py-3 bg-grey">
              <p class="m-0 text-dark text-center ">Copyright &copy; Django Central</p>
    </footer>

  </body>
</html>
